@import '../../app.component.scss';

.container-aboutme{
    padding: 2rem;
    height: 100vh;
    background-image: url('../../../assets/images/about-me-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px;

    @include mobile{
      height: 98%;
    }

    .aboutme-grid{
      display: flex;
      flex-direction: row wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .aboutme-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center; 
      padding: 0 20px;
    }
    
    .aboutme-title {
      font-size: 4rem;
      color: #5c4d4d; 
      margin: 4px;

      h2{
        font-weight: 400;
      }

      @include mobile {
        font-size: 3rem;
      }
    }
    
    .aboutme-text div:last-child {
      font-size: 20px;
      line-height: 1.6;
      font-family: 'Open Sans', sans-serif; 
      max-width: 700px;
      color: #5c4d4d; 

      @include mobile {
        font-size: 13px;
      }
    }

    .aboutme-image{
      background-image: url('../../../assets/images/1.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    .aboutme-image-container{
      width: 32%;
      height: 70%;
      border-top-left-radius: 0.35em;
      border-top-right-radius: 0.35em;
      border-bottom-right-radius: 0.35em;
      border-bottom-left-radius: 0.35em;
      overflow: hidden;
      position: relative;
      margin: 6%;
      @include mobile {
        width: 76%;
        height: 50%;
        margin-top: 10px;
      }
    }
}